/*----------
    RESET
----------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*----------------
    GRID LAYOUT
-----------------*/
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;   
    margin-right: -10px; 
}

.row > * {
    padding: 0 10px;
}

.col-25{
    width: 25%;
}

.col-30{
    width: 30%;
}

.col-40{
    width: 40%;
}

.col-50{
    width: 50%;
}

.col-60{
    width: 60%;
}

.col-70{
    width: 70%;
}

/*------------
    GENERAL
--------------*/

body{
    font-family: 'Roboto', sans-serif;
}

.link{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-around;
    font-weight: bold;
    
}

.link li > * {
    text-decoration: none;
    color: white;
}


/*------------
    HEADER
--------------*/

header{
    background-color: #FF6900;
    color: white;
    max-height: 70px;
}

header[class="col-25"]{

}

/* header .container{
    display: flex;
    justify-content: space-evenly;
} */

header:nth-child(2){
    justify-content: space-evenly;
    align-items: center;
}

.logo-header{
    text-align: center;
    padding: 10px;
}

.logo-header img{
    max-width: 150px;
    max-height: 40px;
}

.link-icon{
    justify-content: flex-end;
}