/*----------
    RESET
----------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*----------------
    GRID LAYOUT
-----------------*/
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;   
    margin-right: -10px; 
}

.row > * {
    padding: 0 10px;
}

.col-25{
    width: 25%;
}

.col-30{
    width: 30%;
}

.col-33{
    width: calc(100% / 3);
}

.col-40{
    width: 40%;
}

.col-50{
    width: 50%;
}

.col-60{
    width: 60%;
}

.col-70{
    width: 70%;
}

/*------------
    GENERAL
--------------*/

body{
    font-family: 'Roboto', sans-serif;
}

.link{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-weight: bold;
    
}

.link li > * {
    text-decoration: none;
    color: white;
}

.card img{
    max-width: 100%;
}

.tag{
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 5px;
    font-size: 10px;
}


/*------------
    HEADER
--------------*/

header{
    background-color: #FF6900;
    color: white;
}

header .row{
    justify-content:space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header-logo{
    display: flex;
    justify-content: center;
}

.header-logo img{
    max-width: 124px;
    padding-left: 20px;
}

.link-nav{
    justify-content: flex-start;
}

.link-nav > *{
    padding-right: 10px;
}

.link-icon{
    justify-content: end;
}

.link-icon > *{
    padding-left: 8px;
}

/*----------
    CARD
------------*/

.card{
    position: relative;
}

.card .discount{
    position: absolute;
    left: 0;
    bottom 40px;
}

